<component name="libraryTable">
  <library name="mybatis-3.4.5">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/resources/lib/mybatis-3.4.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/resources/lib/mysql-connector-java-5.1.41.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>